/* The greyscale range defined at https://accessiblepalette.com/ is:
#FAFAFA
#EEEEEE
#D5D5D5
#BDBDBD
#A5A5A5
#8B8B8B
#717171
#5F5F5F
#4C4C4C
#383838
*/

:root {
  --input-field-color:      white;
  --highlight-stroke-color: white;
  --raised-fill-color:      #efefef;
  --base-fill-color:        #dddddd;
  --recessed-fill-color:    #bbbbbb;
  --active-fill-color:      #bbbbbb;
  --shadow-stroke-color:    #808080; /* grey */
  --outline-color:          black;
  --focus-ring-color:       black;
  --label-color:            black;
  --text-color:             black;
  --selection-color:        black;
  --selected-text-color:    white;
  font-family: sans-serif;
}
.insensitive {
  --input-field-color:      #efefef; /* regular --raised-fill-color */
  --highlight-stroke-color: #ff000000;
  --shadow-stroke-color:    #00ff0000;
  --outline-color:          #808080; /* regular --shadow-fill-color */
  --label-color:            #808080; /* regular --shadow-fill-color */
}
.reduced-palette {
  --input-field-color:      white;
  --highlight-stroke-color: white;
  --raised-fill-color:      #EEEEEE; /* stipple white and base */
  --base-fill-color:        #D5D5D5;
  --recessed-fill-color:    #BDBDBD; /* stipple base and shadow */
  --active-fill-color:      #BDBDBD; /* stipple base and shadow */
  --shadow-stroke-color:    #8B8B8B;
  --outline-color:          black;
  --focus-ring-color:       black;
  --label-color:            black;
  --text-color:             black;
  --selection-color:        black;
  --selected-text-color:    white;
}
.accessible-palette {
    --input-field-color:      white;
    --highlight-stroke-color: #FAFAFA;
    --raised-fill-color:      #EEEEEE;
    --base-fill-color:        #D5D5D5;
    --recessed-fill-color:    #BDBDBD;
    --active-fill-color:      #A5A5A5;
    --shadow-stroke-color:    #8B8B8B;
    --outline-color:          black;
    --focus-ring-color:       black;
    --label-color:            black;
    --text-color:             black;
    --selection-color:        black;
    --selected-text-color:    white;
  }
.accessible-palette insensitive, .accessible-palette.insensitive {
  --input-field-color:      #eeeeee; /* regular --raised-fill-color */
  --highlight-stroke-color: #ff000000;
  --shadow-stroke-color:    #00ff0000;
  --outline-color:          #8b8b8b; /* regular --shadow-fill-color */
  --label-color:            #8b8b8b; /* regular --shadow-fill-color */
}

.darkmode {
  --input-field-color:      #595959;
  --highlight-stroke-color: #595959;
  --raised-fill-color:      #4A4A4A;
  --base-fill-color:        #454545;
  --recessed-fill-color:    #333333;
  --active-fill-color:      #333333;
  --shadow-stroke-color:    #121212;
  --outline-color:          #bababa;
  --focus-ring-color:       #e6e6e6;
  --label-color:            #e6e6e6;
  --text-color:             #e6e6e6;
  --selection-color:        #e6e6e6;
  --selected-text-color:    black;
}
.darkmode.insensitive, .darkmode .insensitive {
  --input-field-color:      #4A4A4A; /* regular --raised-fill-color */
  --highlight-stroke-color: #ff000000;
  --shadow-stroke-color:    #00ff0000;
  --outline-color:          #999999;
  --label-color:            #999999;
}
.dark-accessible-palette {
  --input-field-color:      #BDBDBD;
  --highlight-stroke-color: #A5A5A5;
  --raised-fill-color:      #8B8B8B;
  --base-fill-color:        #717171;
  --recessed-fill-color:    #5F5F5F;
  --active-fill-color:      #4C4C4C;
  --shadow-stroke-color:    #383838;
  --outline-color:          #D5D5D5;
  --focus-ring-color:       #EEEEEE;
  --label-color:            #EEEEEE;
  --text-color:             #EEEEEE;
  --selection-color:        #EEEEEE;
  --selected-text-color:    black;
}
.dark-accessible-palette.insensitive, .dark-accessible-palette .insensitive {
  --input-field-color:      #8B8B8B; /* regular --raised-fill-color */
  --highlight-stroke-color: #ff000000;
  --shadow-stroke-color:    #00ff0000;
  --outline-color:          #999999; /* ??? */
  --label-color:            #999999; /* ??? */
}
:focus { outline: none; }
svg { cursor: default; }
.highlight { fill: none; stroke: var(--highlight-stroke-color); stroke-linecap: square; }
.shadow { fill: none; stroke: var(--shadow-stroke-color); stroke-linecap: square; }
rect.flat { fill: var(--base-fill-color); stroke: var(--outline-color); }
rect.butte { fill: var(--raised-fill-color); stroke: var(--outline-color); }
rect.trough { fill: var(--recessed-fill-color); stroke: var(--outline-color); }
.textfield { fill: var(--input-field-color); stroke: var(--outline-color); }
.focusring { fill: none; stroke: none; }
:focus .focusring { fill: none; stroke: var(--focus-ring-color); }
rect.defaultIndicator { fill: none; stroke: var(--outline-color); }
text { font-family: Sans-serif; font-size: 16px; stroke: none; fill: var(--outline-color); }
svg.headerbutton text { font-size: 12px; }
text.label { fill: var(--label-color); user-select: none; }
text.centered { text-anchor: middle; dominant-baseline: central; }
text.centered-x { text-anchor: middle; }
text.centered-y { dominant-baseline: central; }
.inputfield { cursor: text; }
svg.button:active .butte { fill: var(--recessed-fill-color); stroke: var(--outline-color); }
svg.button:active .highlight { stroke: var(--shadow-stroke-color); }
svg.button:active .shadow { stroke: var(--highlight-stroke-color); }
svg.button.activetoggle .butte { fill: var(--recessed-fill-color); stroke: var(--outline-color); }
svg.button.activetoggle .highlight { stroke: var(--shadow-stroke-color); }
svg.button.activetoggle .shadow { stroke: var(--highlight-stroke-color); }
svg.scrollbar.insensitive .slider { visibility: hidden; }
.menuitem {
  & rect:first-child {
    fill: var(--raised-fill-color);
    stroke: none;
  }
  &:hover {
    & rect:first-child {
      fill: black;
      stroke: none;
    }
    & text {
      fill:white;
    }
  }
}
.listitem {
  & rect:first-child {
    fill: var(--input-field-color);
    stroke: none;
  }
  &.selected {
    & rect:first-child {
      fill: black;
      stroke: none;
    }
    & text {
      fill:white;
    }
  }
}
section { margin-left: 10%; margin-right: 10%; }
rum { display: inline; font-style: italic; }
symbol.icon * { vector-effect: non-scaling-stroke; stroke: var(--outline-color); fill: inherit; }
.toplevel.focused > .base { fill: var(--base-fill-color); }
.toplevel.focused > .shadow { fill: none; stroke: var(--shadow-stroke-color); }
.toplevel.focused > .highlight { fill: none; stroke: var(--highlight-stroke-color); }
.toplevel.focused > .windowTitle { fill: #000000; }
.toplevel.unfocused > .base { fill: var(--raised-fill-color); stroke: grey; }
.toplevel.unfocused > .shadow { fill: none; stroke: none; }
.toplevel.unfocused > .highlight { fill: none; stroke: none; }
.toplevel.unfocused > .windowTitle { fill: #808080; }
div#mainBody {
  width: 1024px;
  margin: auto;
}