:root {
  --input-field-color:      white;
  --highlight-stroke-color: white;
  --raised-fill-color:      #efefef;
  --base-fill-color:        #dddddd;
  --recessed-fill-color:    #bbbbbb;
  --shadow-stroke-color:    grey;
  --outline-color:          black;
  --focus-ring-color:       black;
  --label-color:            black;
  /* Consider adding colors for when a button is actively being pushed and not just in the ON state. */
  font-family: sans-serif;
}
.insensitive {
  --input-field-color:      #efefef;
  --highlight-stroke-color: #ff000000;
  --shadow-stroke-color:    #00ff0000;
  --outline-color:          #808080;
  --label-color:            #808080;
}
.darkmode {
  --input-field-color:      #595959;
  --highlight-stroke-color: #595959;
  --raised-fill-color:      #4A4A4A;
  --base-fill-color:        #454545;
  --recessed-fill-color:    #333333;
  --shadow-stroke-color:    #121212;
  --outline-color:          #bababa;
  --focus-ring-color:       #e6e6e6;
  --label-color:            #e6e6e6;
}
.darkmode.insensitive, .darkmode .insensitive {
  --input-field-color:      #4A4A4A;
  --highlight-stroke-color: #ff000000;
  --shadow-stroke-color:    #00ff0000;
  --outline-color:          #999999;
  --label-color:            #999999;
}
 @media (prefers-color-scheme: dark) {
  :root {
    --input-field-color:      #595959;
    --highlight-stroke-color: #595959;
    --raised-fill-color:      #4A4A4A;
    --base-fill-color:        #454545;
    --recessed-fill-color:    #333333;
    --shadow-stroke-color:    #121212;
    --outline-color:          #bababa;
    --focus-ring-color:       #e6e6e6;
    --label-color:            #e6e6e6;
  }
  .insensitive {
    --input-field-color:      #4A4A4A;
    --highlight-stroke-color: #ff000000;
    --shadow-stroke-color:    #00ff0000;
    --outline-color:          #999999;
    --label-color:            #999999;
  }
}
:focus { outline: none; }
svg { cursor: default; }
.highlight { fill: none; stroke: var(--highlight-stroke-color); stroke-linecap: square; }
.shadow { fill: none; stroke: var(--shadow-stroke-color); stroke-linecap: square; }
rect.flat { fill: var(--base-fill-color); stroke: var(--outline-color); }
rect.butte { fill: var(--raised-fill-color); stroke: var(--outline-color); }
rect.trough { fill: var(--recessed-fill-color); stroke: var(--outline-color); }
.textfield { fill: var(--input-field-color); stroke: var(--outline-color); }
.focusring { fill: none; stroke: none; }
:focus .focusring { fill: none; stroke: var(--focus-ring-color); }
rect.defaultIndicator { fill: none; stroke: var(--outline-color); }
text { font-family: Sans-serif; font-size: 16px; stroke: none; fill: var(--outline-color); }
svg.headerbutton text { font-size: 12px; }
text.label { fill: var(--label-color); user-select: none; }
text.centered { text-anchor: middle; dominant-baseline: central; }
text.centered-x { text-anchor: middle; }
text.centered-y { dominant-baseline: central; }
.inputfield { cursor: text; }
svg.button:active .butte { fill: var(--recessed-fill-color); stroke: var(--outline-color); }
svg.button:active .highlight { stroke: var(--shadow-stroke-color); }
svg.button:active .shadow { stroke: var(--highlight-stroke-color); }
svg.button.activetoggle .butte { fill: var(--recessed-fill-color); stroke: var(--outline-color); }
svg.button.activetoggle .highlight { stroke: var(--shadow-stroke-color); }
svg.button.activetoggle .shadow { stroke: var(--highlight-stroke-color); }
svg.scrollbar.insensitive .slider { visibility: hidden; }
.menuitem {
  & rect:first-child {
    fill: var(--raised-fill-color);
    stroke: none;
  }
  &:hover {
    & rect:first-child {
      fill: black;
      stroke: none;
    }
    & text {
      fill:white;
    }
  }
}
.listitem {
  & rect:first-child {
    fill: var(--input-field-color);
    stroke: none;
  }
  &.selected {
    & rect:first-child {
      fill: black;
      stroke: none;
    }
    & text {
      fill:white;
    }
  }
}
section { margin-left: 10%; margin-right: 10%; }
rum { display: inline; font-style: italic; }
symbol.icon * { vector-effect: non-scaling-stroke; stroke: var(--outline-color); fill: inherit; }
.toplevel.focused > .base { fill: var(--base-fill-color); }
.toplevel.focused > .shadow { fill: none; stroke: var(--shadow-stroke-color); }
.toplevel.focused > .highlight { fill: none; stroke: var(--highlight-stroke-color); }
.toplevel.focused > .windowTitle { fill: #000000; }
.toplevel.unfocused > .base { fill: var(--raised-fill-color); stroke: grey; }
.toplevel.unfocused > .shadow { fill: none; stroke: none; }
.toplevel.unfocused > .highlight { fill: none; stroke: none; }
.toplevel.unfocused > .windowTitle { fill: #808080; }
div#mainBody {
  width: 1024px;
  margin: auto;
}