#graph0 {
  display: block;
  float: left;
}
* {
  font-family: sans-serif;
}
table#current-info, form#controls {
	margin-left: 950px;
	padding: 20px 20px 20px 20px;

}
img#glowworm{
padding: 20px;
}
th {
	text-align:right;
}
fieldset {
  border: thin solid black;
  width: 410px;
}
fieldset#scan-parameters {
  margin: 20px;
}
div#buttons {
  text-align:center;
}
input[type=text] {
  font-family: monospace;
}
label.tab {
  display: table-row;
}

label.tab * {
  display: table-cell;
  margin-bottom: 3px;
}

label.tab span.label {
  text-align: right;
  padding-right: 6px;
}
label.tab span.units {
  text-align: left;
  padding-left: 3px;
}

